.container {
    width: 100%;
    max-width: none;
    padding: 0;
}

.header-col {
    padding: 0 !important;
}

.btn-light {
    background-color: #f0f0f0 !important;
}
.form-check-inline {
    margin-right: 0 !important;
}

@media screen and (max-width: 768px) {
    .card-1 {
        width: 400px !important;
        right: 121px !important;
        top: 600px !important;
    }
}
@media screen and (max-width: 992px) {
    .img3 {
        display: none !important;
    }
    .img2 {
        display: none !important;
    }
}

@media screen and (max-width: 576px) {
    .img {
        display: none !important;
    }
    .container-fluid {
        margin-top: 10px !important;
    }
    .row {
        margin-top: 10px !important;
    }
    .col {
        margin-top: 10px !important;
    }
    .card-1 {
        width: 400px !important;
        right: 215px !important;
        top: 800px !important;
        margin-left: 0 !important;
        margin-bottom: 650px !important;
    }
    .search-flight {
        font-size: 14px !important;
    }
}
